@use '@/assets/styles/themes' as *;

@mixin footer-component {
  .container {
    border-top: 1px solid $white;
    text-align: center;
    padding-block: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    max-width: 100%;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  span {
    color: $white;
    font-size: 16px;
  }

  .footer-text {
    max-width: 1000px;
    font-size: 16px;
  }
}
