@use '@/assets/styles/themes' as *;

@mixin header-component {
  .header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $background_color_header;
    box-shadow:
      $shadow_header 0px 6px 12px -2px,
      $shadow_2_header 0px 3px 7px -3px;
    backdrop-filter: blur(2px);
  }

  .header-content {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  img {
    cursor: pointer;
    pointer-events: all;
  }
}
