@use '@/assets/styles/themes' as *;

@mixin all-playlists-modal-component {
  .modal-container {
    top: 0;
    margin: auto;
    max-width: 1000px;
    width: 90%;
  }

  .modal-content {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 540px) {
      flex-direction: column;
      gap: 24px;
    }
  }

  .modal-results {
    max-height: 250px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    @media screen and (max-width: 1620px) {
      max-height: 280px;
    }
  }

  .modal-container {
    max-height: calc(100vh - 50%);
  }

  .modal-cancel {
    background-color: $shadow_2_header;
    padding: 12px 24px;
    border-radius: 8px;
  }
}
