@use '@/assets/styles/themes' as *;

@mixin detailed-component {
  .container {
    min-height: 100vh;
    padding-block: 112px 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media screen and (max-width: 767px) {
      padding-inline: 55px;
    }
  }

  .detailed {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    & span {
      border-radius: 8px;
      color: $white;
      font-size: 14px;
      padding: 4px 8px;
      background-color: $grey;
    }
    @media screen and (max-width: 540px) {
      position: static;
    }
  }

  .detailed-settings {
    display: flex;
    gap: 12px;
  }

  .detailed-end {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      flex-direction: row;
      align-items: flex-end;
      gap: 24px;
    }
    @media screen and (max-width: 540px) {
      align-items: center;
      margin-bottom: 24px;
    }
  }

  .detailed-rating,
  .detailed-genres {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .detailed-genres {
    gap: 8px;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
      max-width: 300px;
    }
    @media screen and (max-width: 540px) {
      max-width: 200px;
    }
  }

  .detailed-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 540px) {
      margin-top: 400px;
      flex-direction: column-reverse;
    }
  }

  .detailed-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (max-width: 767px) {
      padding-top: 24px;
    }
  }

  .detailed-content {
    display: flex;
    gap: 24px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .detailed-content-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p {
      color: $grey;
      font-size: 14px;
    }
    & h3 {
      cursor: pointer;
    }
  }

  .detailed-album {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    @media screen and (max-width: 767px) {
      max-width: 450px;
      width: 100%;
    }
    @media screen and (max-width: 540px) {
      position: absolute;
      left: 0;
      top: 80px;
    }
  }

  .detailed-lyrics {
    @media screen and (max-width: 767px) {
      width: 100%;
      padding-top: 24px;
    }

    & p {
      white-space: normal;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
  }

  .border-button {
    display: flex;
    padding: 6px 12px;
  }

  .detailed-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
