@use '@/assets/styles/themes' as *;

@mixin detailed-component {
  .container {
    min-height: 100vh;
    padding-block: 112px 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .detailed {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    & span {
      border-radius: 8px;
      color: $white;
      font-size: 14px;
      padding: 4px 8px;
      background-color: $grey;
    }
  }

  .detailed-end {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .detailed-rating,
  .detailed-genres {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .detailed-genres {
    gap: 8px;
  }

  .detailed-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .detailed-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .detailed-content {
    display: flex;
    gap: 24px;
  }

  .detailed-content-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p {
      color: $grey;
      font-size: 14px;
    }
  }

  .detailed-album {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
  }

  .border-button {
    display: flex;
    padding: 6px 12px;
  }

  .detailed-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
