@use '@/assets/styles/themes' as *;

@mixin music-component {
  .drop-area {
    border-bottom: 1px solid $white;
  }

  .invalid {
    border-color: $red;
  }

  #audioElem {
    display: none;
  }

  .my-form {
    padding-block: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  audio {
    margin: 0;
    margin-bottom: 12px;
    width: 100%;
    height: 44px;
  }
}
