@use '@/assets/styles/themes' as *;

@mixin form {
  .field {
    position: relative;
    width: 100%;
  }
}

@mixin general-form {
  .form {
    max-width: 700px;
    min-width: 600px;
    height: calc(100% - 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    padding: 80px;
    border-radius: 8px;
    border: 1px solid $pink;
    @media screen and (max-height: 1150px) {
      height: calc(100% - 150px);
    }
    @media screen and (max-width: 768px) {
      width: 90%;
      min-width: 90%;
      margin-block: 24px;
    }

    @media screen and (max-width: 540px) {
      padding: 24px;
      min-height: 250px;
    }
  }
}
