@mixin animated-lines {
  .animated-lines {
    background-repeat: no-repeat;
    animation: animate 8s ease-in-out infinite alternate-reverse;
  }

  @keyframes animate {
    0% {
      transform: translateX(0) scaleY(1);
    }
    50% {
      transform: translateX(2%) scaleY(0.85);
    }
    100% {
      transform: translateX(0) scaleY(1);
    }
  }
}
