@use '@/assets/styles/themes' as *;

@mixin loading-component {
  .loading-container {
    background-color: $black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading {
    height: 500px;
    width: 500px;
    background-color: black;
  }
}
