@mixin gradient-text {
  .gradient-text {
    background: -webkit-linear-gradient(0deg, $pink 0%, $purple 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin border-text {
  .border-text {
    color: transparent;
    -webkit-text-stroke: 0.5px $white;
  }
}
