@mixin quick-songs-component {
  .form {
    min-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 1440px) {
      grid-template-columns: 1fr 1fr;
      max-width: 100%;
      min-width: 100%;
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
