$black: #000;
$white: #fff;

$grey: #7a7a7a;
$light_grey: #121212;
$dark_grey: #242424;
$gradiend_text: linear-gradient(90deg, rgba(255, 87, 240, 1) 0%, rgba(87, 108, 255, 1) 100%);

$pink: rgba(255, 87, 240, 1);
$dark_pink: #ad0070;
$purple: rgba(87, 108, 255, 1);
$dark_purple: rgba(47, 16, 58, 1);

$background_color_header: #0000004d;
$shadow_header: rgba(7, 5, 9, 0.25);
$shadow_2_header: rgba(125, 125, 125, 0.3);
$shadow_play: rgba(24, 24, 24, 0.3);

$red: #ff7676;
