$black: #000;
$white: #fff;

$gradiend_text: linear-gradient(90deg, rgba(255, 87, 240, 1) 0%, rgba(87, 108, 255, 1) 100%);

$pink: rgba(255, 87, 240, 1);
$purple: rgba(87, 108, 255, 1);

$background_color_header: #0000004d;
$shadow_header: rgba(7, 5, 9, 0.25);
$shadow_2_header: rgba(125, 125, 125, 0.3);

$red: #ff0000;
