$black: #000;
$white: #fff;

$grey: #7a7a7a;
$light_grey: #121212;
$dark_grey: #242424;

$pink: #ff57f0;
$dark_pink: #ad0070;
$purple: #576cff;
$dark_purple: #2f103a;
$gradiend_text: linear-gradient(90deg, $pink 0%, $purple 100%);
$transparent_pink: #ad00702d;
$selected_pink: #b900796f;

$background_color_header: #0000004d;
$shadow_header: #07050940;
$shadow_2_header: #7d7d7d4d;
$shadow_play: #1818184d;

$red: #ff7676;
